/* Image style */
#scrollUp {
    background-image: url("/assets/img/top.png");
    /* background-color: aqua; */
    bottom: 20px;
    right: 20px;
    width: 38px;    /* Width of image */
    height: 38px;   /* Height of image */
}
